.answer
  = image_tag 'answer_icon.png', :class => 'icon'  
  .question-body
    = answer.body
  .vote-actions
    =render :partial =>'videos/voting_actions', :locals => { :target => 'a' , :object => answer }
