$('.answer-body').val('');
$('#ans-#{@question.id} .video_answers-div').append("#{escape_javascript (render :partial => 'videos/answer', :object => @answer)}")
$('#ans-#{@question.id} .video_answers-div .answer:last').hide().fadeIn();