/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/*
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 */


.btn{
	color: white;
}

.video-row {
  img{
    display: inline-block;
    float: left;
    height: 110px;
    width: 170px;
  }
  margin: 5px 0px;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	&:hover {
	  color: #1c62b9;
	  background-color: lightgray;
    box-shadow: 0.2px -0.8px 3px black;
	}
}

.duration {
	float: right;
}

#videos-list{
	min-height: 500px;
}

.provider-Facebook{
	background-image: url("http://cdn.mediafire.com/images/buttons/btn_facebook_connect.png");
    background-repeat: no-repeat;
    min-height: 18px;
    width: 139px;
}
#views-count{
	display: inline;
	padding: 6px;
	font-size: large;
	margin: 0px 4px;
}
#video-actions div,a{
	display: inline-block;
}
#video-actions div{
  vertical-align: text-bottom;
  font-size: x-large;
}
#video-actions {
  height: 30px;
  margin: 9px 0;
}

/* Styling Question Area --BEGIN--*/
.q-body{
	border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  min-height: 80px;
  width: 100%;
  cursor: pointer;
}
.q-info{
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-right: 10px;
}
.asking-area form{
  display: inline;
}
.q-data {
  width: 80%;
  float: left;
}
.q-area {
  overflow: auto;
}

.vote-actions{
	display: inline-table;
	margin-left: 20px;
	a {
		display: block;
	}
}

.answers-div{
  margin-top: 10px;
  margin-left: 55px;
  .answer{
    margin-top: 23px;
  }
}

.answer-input{
  margin-left: 55px;
  margin-top: 32px;
  display: inline-block;
}

img.icon{
  width: 50px;
  height: 50px;
}

.question-icon{
  float: left;  
}

body textarea{
  width: 100%;
}

/* Styling Question Area --END--*/

.about-me{
	background-color: gray;
	min-height: 129px;
	color: white;
	text-decoration: blink;
	padding: 10px;
}

.tabbable ul.nav li{
	float: right;
}

.profile-video-list{
	min-height: 500px;
	max-width: 790px;
}

.edit-profile-group{
	margin-right: 100px;
}

/*=================================== Voting actions ==============================*/
@mixin vote-actions-icons($url, $urlClicked){
  background-image: url($url);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 39px 40px;
  height: 30px;
  width: 28px;
  &.vote-clicked, &:hover{
    background-image: url($urlClicked);
    background-color: #FFFFFF;
  }
}

a.vote-up{
  @include vote-actions-icons('/assets/up.png','/assets/up-clicked.png');
}

a.vote-down{
  @include vote-actions-icons('/assets/down.png','/assets/down-clicked.png')
}

.total-votes-label{
  text-align: center;
  margin: 5px 0px;
}

.login-div {
  .icon-user{
    width: auto;
  }
  .label.label-info{
    display: inline-block;
  }
}


/* Styling error message popup */
#error-msg{
  background-color: #00BB2E;
  border-radius: 6px 6px 6px 6px;
  color: #EDFFC9;
  box-shadow: 6px 4px 7px #888883;
  height: 60px;
  padding: 7px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px;
  width: 220px;
  
  a.close-error{
    cursor: pointer;
    float: right;
  }
  .content{
    padding-top:10px;
  }
}

#submit-div{
  position: relative;
  top: 90px;
}
#submit-button{
  float: left;
  margin-right: 20px;
}
