/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/*
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 */

.btn{
	color: white;
}

.video-row {
	margin-top: 15px;
}

.duration {
	float: right;
}

#videos-list{
	min-height: 500px;
}

.provider-Facebook{
	background-image: url("http://cdn.mediafire.com/images/buttons/btn_facebook_connect.png");
    background-repeat: no-repeat;
    min-height: 18px;
    width: 139px;
}
#views-count{
	display: inline;
	padding: 6px;
	font-size: large;
	margin: 0px 4px;
}
#video-actions div{
	display: inline-block;
	
}

/* Styling Question Area --BEGIN--*/
.question-body{
	border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    min-height: 50px;
    padding: 5px;
    width: 80%;
    cursor: pointer;
}
.vote-actions{
	display: inline-table;
	
	a {
		display: block;
	}
}
/* Styling Question Area --END--*/

.about-me{
	background-color: gray;
	min-height: 129px;
	color: white;
	text-decoration: blink;
	padding: 10px;
}

.tabbable ul.nav li{
	float: right;
}

.profile-video-list{
	min-height: 500px;
	max-width: 790px;
}

.edit-profile-group{
	margin-right: 100px;
}
