/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/*
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 */


/*
div.caption{
	position: relative;
	text-shadow: 0 1px 1px #999;
	text-transform: capitalize;
}

.thumbnail {
	height: 150px;
	overflow: hidden;
}
h5.thumb-title{
	text-align: center;
}
p.reviews{
	text-align: left;
}

a.thumbnail.wrapper{
	text-decoration: none;
	text-shadow: 0 1px 1px #999;
	margin-bottom: 10px;
	width: 135px
}


#videos-list {
	margin-top: 50px;
	margin-left: 0px;
}
*/
.btn{
	color: white;
}

.video-row {
	margin-top: 15px;
}

.duration {
	float: right;
}

.about-me{
	background-color: grey;
	min-height: 129px;
	color: white;
	text-decoration: blink;
	padding: 10px;
}

.tabbable ul.nav li{
	float: right;
}
.profile-video-list{
	min-height: 500px;
	max-width: 790px;
}
